svg {
	height: 100%;
	width: 100%;
}

.button_rubber:first-of-type {
	border-radius: 20% 20% 3% 3%;
}

.button_rubber:last-of-type {
	border-radius: 3% 3% 20% 20%;
}

.button_rubber {
	display: flex;
	height: 50%;
	border-radius: 3% 3% 3% 3%;
	fill: rgb(179, 184, 189);
	padding: 10%;
	justify-content: center;
	background-image: url("images/button_rubber_bg.svg");
}

.button_rubber:active {
	fill: rgb(255, 238, 144);
	padding: 10.5%;
	stroke: goldenrod;
	stroke-width: 1%;
}

.control_bucket {
	display: flex;
	flex-direction: column;
	width: 100px;
	height: 170px;
}

.speedometer {
	width: 250px;
}
